{% extends 'base.html.twig' %}

    {% block body %}

        {% if categorie is defined %}
                <h1 class="text-center mt-3">Modifier une catégorie</h1>
                {% else %}
                   <h1 class="text-center mt-3">Ajouter une nouvelle catégorie</h1>
                {% endif %}
        
        
        
        <div class="row">
            <div class="col-4 mx-auto my-5"> 
                <hr>
                {{ form_start(form, {'attr': {novalidate: 'novalidate'}} ) }}

                 <div>
                    {{ form_row(form.name) }}
                </div>

                {% if categorie is defined %}
                <button type="submit" class="d-block col-3 mx-auto my-3 btn btn-warning">Modifier</button>
                {% else %}
                    <button type="submit" class="d-block col-3 mx-auto my-3 btn btn-warning">Ajouter</button>
                {% endif %}

                {{ form_end(form) }}
            </div>
        </div>


    {% endblock %}